GEMINI_API_KEY=
GEMINI_ENDPOINT=https://generativelanguage.googleapis.com
DB_HOST=localhost
DB_NAME=mais_por_menos
DB_USER=root
DB_PASSWORD=
SEFAZ_AL_API_URL=
SEFAZ_AL_API_TOKEN=
SEFAZ_AL_SYNC_HOURS=6
